<div class="mb-3">
  <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search for food" />
  <button class="btn btn-primary mt-2" (click)="search()">Ricerca</button>
</div>
<div *ngIf="searchResults.length > 0">
  <div *ngFor="let product of searchResults" class="card mb-3">
    <img *ngIf="product.image_url" [src]="product.image_url" class="card-img-top" alt="{{ product.product_name }}">
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="['/item', product.code]" class="text-decoration-none">
          {{ product.product_name }}
        </a>
      </h5>
    </div>
  </div>
</div>
